* {
  box-sizing: border-box;
}
.shopping-list {
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  padding: 10px;
}
.shopping-list p {
  margin: 0;
}
.shopping-list p:first-child,
.shopping-list p:nth-child(2) {
  flex-grow: 2;
  font-size: 18px;
}
.shopping-list p:nth-child(3) {
  font-weight: bold;
  font-size: 18px;
  background: red;
  padding: 4px 6px;
  color: white;
  cursor: pointer;
}
